.overlay {
  padding: 0;

  :global {
    .ant-popover-inner {
      background-color: transparent;
      box-shadow      : none;
    }

    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }
}

.button {
  margin-top: 16px;
}

.icon {
  position: fixed;
  right   : 32px;
  bottom  : 32px;
  z-index : 2147483640;
}