@interval: 24px;

.boxContainer {
  position      : relative;
  margin        : @interval;
  min-height    : calc(100% - @interval*2);
  display       : flex;
  flex-direction: column;
}

.block {
  flex      : 1;
  background: #fff;
}