@import url('~@/assets/less/color.less');
@menuWidth: 180px;
@menuColor: rgba(255, 255, 255, 0.65);

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  max-width: @menuWidth;

  :global {
    .ant-menu-sub {
      background-color: #222222 !important;
      color: @menuColor;
    }

    .ant-menu-submenu-selected {
      color: @primary-color;
    }

    .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-arrow::after {
      background-color: @menuColor;
    }

    .ant-menu-submenu-selected
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-selected
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::after {
      background-color: @primary-color;
    }

    .ant-menu-submenu-selected > .ant-menu-submenu-title:hover {
      color: inherit;
    }

    .ant-menu-item-selected {
      background-color: #000000 !important;

      & span {
        color: @primary-color !important;
      }
    }

    .ant-menu-item:hover {
      background-color: #000000 !important;
    }

    .ant-menu-inline-collapsed > .ant-menu-item {
      padding: 0 calc(50% - 20px / 2);
    }

    .ant-menu-item:focus-visible,
    .ant-menu-submenu-title:focus-visible {
      box-shadow: none !important;
    }

    // .ant-menu-title-content {
    //   text-align-last: justify;
    //   padding-right  : 28px;
    //   padding-left   : 12px;
    // }

    // .ant-menu-submenu-title>.ant-menu-title-content {
    //   padding-right: 10px;
    // }
  }
}

.menu {
  width: @menuWidth;
  background-color: transparent !important;
  user-select: none;
  color: @menuColor;

  .skeleton {
    margin: 8px 0;
  }

  .icon {
    font-size: 20px !important;
  }
}

.popupClassName {
  .icon {
    font-size: 20px !important;
  }

  :global {
    .ant-menu {
      color: @menuColor;
      background-color: #222222 !important;
    }

    .ant-menu-item-selected {
      background-color: #000000 !important;

      & span {
        color: @primary-color !important;
      }
    }

    .ant-menu-item:hover {
      background-color: #000000 !important;
    }
  }
}

.footer {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #b5b5b5;
  border-top: 1px solid #b5b5b5;
  box-sizing: border-box;

  &:hover {
    color: #ffffff;
  }
}
